/* App Fonts */

@font-face {
    font-family: "TTNorms";
    src: url("/fonts/TTNorms-Regular.otf") format("openType");
}
@font-face {
    font-family: "TTNorms Medium";
    src: url("/fonts/TTNorms-Medium.otf") format("openType");
}
@font-face {
    font-family: "TTNorms Light";
    src: url("/fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
    font-family: "Times Roman Italic";
    src: url("/fonts/Times-new-roman-italic.ttf") format("truetype");
}



/* Normalize Css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0; /* 3 */
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* 
 */

*,
*:after,*:before{
    box-sizing: inherit;
}
html{
    font-family:"TTNorms";

}
body{
    background-color: rgb(228, 221, 217);
    
}

.container{
    /* background-color: rgb(231, 213, 217); */
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
    /* box-sizing: border-box; */
} 



.header{
 
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    margin-top: .5rem;
}
.nav{
    display: flex;
    align-items: center;
}
.nav-logo{
    margin-right: 1.8rem;
    
}
.nav-logo__img{
     width: 100%;
    height: 100%;
}
.menu{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
 
    
}
.menu__item{
    text-decoration: none;
}
.menu__link{
    text-decoration: none;
    padding: 0 0.5rem;
    color: rgb(6, 6, 112);
 
}

.header__contact-link{
    text-decoration: none;
    background-color: blue;
    padding: .5rem 1.2rem;
    border-radius: .5rem;
    color: #fff;
}
.menu-icon{
    font-size: 2rem;
    display: none;
}

/* header-bottom */


.header-bottom{
    padding-top: 5rem;
}
.header-content{
    display: flex;
    align-items: center;
}
.header-content__left{
    flex-basis: 50%;
}

.header-content__wrapper{
    max-width: 28rem;
    line-height: 1.5rem;
}
.header-content__right{
    flex-basis: 50%;
}

.header-content__title{
    line-height: 2.2rem;
    font-family: "TTNorms Medium";
    font-weight: normal;

}
.header-content__text{
    color: rgb(49, 45, 45);
}
.header-content__links{
    display: flex;
    margin-top: .8rem;
}
.header-content__link{
    text-decoration: none;
    background-color: blue;
    padding: .5rem 1.2rem;
    border-radius: .5rem;
    color: #fff;
    margin-right: .8rem;
    width: 9rem;
    display: block;
    text-align: center;

}
.header-content__links .header-content__link:nth-child(1){
    background-color:#87bc25;
}

.header-img{
    width: 100%;
}
/* main part */
.main{

}
.work{
    text-align: center;
    margin-top: 2rem;
}
.work-text , .portfolio-text{
    text-transform: uppercase ;
    
}
.work-title,.portfolio-title{
    color: rgb(49, 45, 45);
}
.work-items{
    display: flex;
    justify-content: space-around;
}
.work-item{
    max-width: 16rem;
}
.work-item__title{

}
.work-item__text{
    color: rgb(49, 45, 45);
    line-height: 1.5rem;
}
.work-img{
    max-width: 31rem;
    margin: 0 auto;

}
.work-img__img{
    width: 100%;
    
}

/* person part */

.person-comments{
    text-align: center;
    color: #fff;
    background-color: rgb(85, 85, 191);
    padding: 1.1rem 0 ;
}
.person-title{
    font-family: "TTNorms-Medium";
    font-weight: normal;
}
.person-text{
    font-family: "TTNorms-Light";
    max-width: 27rem;
    line-height: 1.5rem;
    margin: 0 auto;

}
.comment-container{
    max-width: 68rem;
    margin: 3.4rem auto 0 auto;
}
.comments{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.comment{
    background-color: #fff;
    color: rgb(49, 45, 45);
    margin: 1rem;
    flex-basis: 18rem;
    min-height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: .5rem;
   
}
.comment__content{
    text-align: left;
    padding: 1.2rem;
}
.comment__text{
    margin: 0;
    line-height: 1.5rem;
    font-family: "Times-new-roman-italic";
    line-height: 1.5rem;
    

}
.comment__info{
    display: flex;
    align-items: center;
    padding:.8rem 1.2rem;
    align-items: center;
    border-top:rgb(49, 45, 45) solid 1px ;
}
.comment__img{
    
}
.comment__writer{
    margin: 0 0 0 .7rem;
}

.companies{
    display: flex;
    justify-content: space-around;
    margin: 3rem 3rem 0;
    flex-wrap: wrap;
}
.companies__img{
    display: block;
    margin: 1rem;

}
/* portfolio section */
.portfolio{
    text-align: center;
    padding: 2rem 0;
}
.portfolio-items{
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

}
.portfolio-item{
    flex-basis: 21rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    overflow: hidden;
    
    
}
.portfolio-item__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* footer */
.foooter{

}
.newspaper{
    background-color: #2f5bea;
    padding: 3rem 0;
    color: #fff;
   
}
.newspaper-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newspaper__text{
    font-size: 1.5rem;
    display: block;
    font-weight: normal;
}
.newspaper__email{
  flex-basis: 18rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: .2rem .2rem;
  align-items: center;
  border-radius: .5rem;
 
}
.newspaper__email-input{
   
    border: none;
    outline: none;
    border-radius: .5rem;
    padding-left: 1.5rem;
   
}
.newspaper__email-input:focus  .newspaper__email{
    background-color: rgb(46, 147, 113);
}
.newspaper__email-btn{

    background-color: #091f69;
    outline: none;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.newspaper__email-btn:hover{
    cursor: pointer;

}

.copy-wrapper{
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}

.copy-right__text{

    color: rgb(49, 45, 45);
    font-size: small;
}


@media screen and (max-width: 1200px) {
    .container{
        max-width: 960px;
        
    }

}


@media screen and (max-width: 992px) {
    .container{
        max-width:720px;
      
    }
    .header-bottom .header-content{
        flex-direction: column-reverse;
    }
   
  
   
}

@media screen and (max-width: 768px) {
    .container{
        max-width: 540px;
    }
   
}

@media screen and (max-width: 576px) {
    .container{
        max-width: 100%;
    }
   
}
